@import "compass/css3";

$base-grey: #d5dde4;
$base-blue: #55a7eb;


body {
  margin: 0px;
  font-size:100%;
}

h1 {
  font-size: 20px;
}

nav li {
  font-size: 0.8em;
}

section.main {
  width: 960px;
  margin-right: auto;
  margin-left: auto;
  border: solid #000 2px;

  header {
    background-color: $base-grey;
    color: $base-blue;
    border-bottom: solid  $base-blue 2px;

    .description {
      padding-left: 20px;
      padding-bottom: 10px;
    }
    .logout {
      float: right;
      border-radius: 5px;
      border: solid 2px;
      background-color: white;
      padding: 5px;
      margin: 5px;
      a {
        text-decoration: none;
        color: #000;
        &:hover {
          color: #000;
          background-color: white;
        }
      }
    }
  }

  nav {
    ul {
      position:relative;
      width:100%;
      height: 1em;
      margin:0;
      margin-top: 5px;
      list-style:none;
      line-height:1em;

      li {
        float:left;
        margin:0;
        padding:4px;
        margin-right: 5px;
        width: 100px;
        text-align: center;
        background-color: $base-grey;
        border: solid $base-grey 2px;
        border-bottom: solid $base-blue 2px;
        @include border-top-radius(5px);

        &.active {
          border: solid $base-blue 2px;
          background-color: $base-blue;
          color: #fff;

          a {
            color: #fff;
            &:hover {
              color: #fff;
              background-color: $base-blue;
            }
          }
        }

        a {
          color: #000;
          &:hover {
            color: #000;
            background-color: $base-grey;
          }
          text-decoration: none;
          width: 100px;
          text-align: center;
          display: inline-block;
        }

      }
    }
  }

  .content {
    border: solid  $base-blue 2px;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    min-height: 400px;
  }


  footer {
    background-color: $base-grey;
    color: #000;
    border-top: solid  $base-blue 2px;
    height: 67px;
    .powered {
      float: left;
      margin: 10px;
      background-color: #fff;
      border: solid  $base-blue 2px;
      border-radius: 5px;
      padding-top: 3px;
    }
    .copyright {
      float: right;
      margin: 26px;
    }
  }
}

.advantages_left {
  width: 40%;
  float: left;
  margin-left: 5%;
}

.advantages_right {
  width: 40%;
  margin-left:50%;
}

.box {
  padding: 0px 10px;
  margin: 15px;
  border: solid #000 2px;
  @include border-radius(5px);
  @include box-shadow(#999 2px 2px 10px);

  h1 {
    font-style: italic;
  }
}


.first {
  width: 40%;
  float: left;
  margin-left: 5%;
}

.second {
  width: 40%;
  margin-left:50%;
}

.message {
  text-align: center;
}

.bordered_form {
  border: dashed 2px #333;
  @include border-radius(5px);
  text-align: center;
  padding: 10px 5px;

  .buttons {
    margin-top: 10px;
  }

}

table.emails {
  tr {
    text-align: left;
  }
}

.signup_form {
  width: 240px;
  margin: 20px auto;
}

.disclaimer {
  width: 240px;
  margin: 20px auto;
  font-size: 0.8em;
  text-align: center;
}

input[type="submit"], button {
  border: 1px solid $base-blue;
  background: $base-blue;
  color: white;
  font: bold 11px 'Trebuchet MS';
  padding: 6px;
  cursor: pointer;
  @include border-radius(4px);
}

#users {
  border: solid 2px $base-blue;
  @include border-radius(5px);
  float: right;
  width: 200px;
  min-height: 300px;

  .header {
    background-color: $base-blue;
    color: #fff;
    text-align: center;
  }

  .user {
    padding: 5px 10px;
  }
}



