h3 How do I schedule a UC Cloud video collaboration session?
div Simply cc &quot;&lt;your company namediv@uccld.com&quot; to your calendar invites -- you and your guests will immediately receive emailed instructions on how to easily connect to the UC Cloud video collaboration session.


h3 How do I start an impromptu UC Cloud video collaboration session?
div Simply cc &quot;&lt;your company namediv@uccld.com&quot; in an email to your desired collaborators, and all invited will immediately receive emailed instructions on how to easily connect to that UC Cloud video collaboration session.


h3 How do I join a UC Cloud video collaboration session?
div
  | You have several options to meet all your possible needs:
  | If you already have H.323 standards base video equipment you can easily connect by dialing uccld.com and entering your personal access code when prompted, or you can simply dial &lt;your_access_code&gt;@uccld.com ;
  | On a Mac or PC you can easily connect via a browser by clicking on the provided URL link in the invitation email;
  | You can also simply call into a session, without video, by dialing (408) UCCLOUD (408-822-5683) and entering your personal access code.


h3 How do I set my personal access code?
div To customize or reset your personal access code please click here.


h3 Why would I want to set my own personal access code?
div Your personal access code is all you have to remember to join any UC Cloud video collaboration session to which you&#x27;ve been invited -- you will never have to fumble around for someone else&#x27;s conference codes again!  As such, make it easy to remember and you will never waste time again trying to collaborate.  (And no, you don&#x27;t have to share it with anyone -- everyone gets their own personal access code, even first time users.)


h3 How do I connect from a shared H.323 endpoint (e.g., a conference room system)?
div From H.323 standards base video equipment you can easily connect by dialing uccld.com and entering your personal access code when prompted, or you can simply dial &lt;your_access_code&gt;@uccld.com .   You will probably find it convenient to configure a UC Cloud speed dial pointing to uccld.com .


h3 How do I connect from a personal (dedicated) endpoint?
div From H.323 standards base video equipment you can easily connect by dialing uccld.com and entering your personal access code when prompted, or you can simply dial &lt;your_access_code&gt;@uccld.com .  You will probably find it convenient to configure a UC Cloud speed dial pointing to &lt;your_access_codediv@uccld.com if you are the only user of that equipment.


h3 How do I pre-register a personal (dedicated) endpoint?
div Configure a UC Cloud speed dial pointing to &lt;your_access_codediv@uccld.com (if you are the only user of that equipment).


h3 Why would I want to pre-register a personal (dedicated) endpoint?
div It will make it quicker to join any UC Cloud video collaboration sessions.


h3 How do I download a software video endpoint for my PC or tablet?
div Please click here.


Can I really sign up for a FREE 30 day trial of UC Cloud?
div Absolutely - please click here to do so!


h3 Will my email address be used for anything outside of enabling UC Cloud video collaboration sessions?
div No -- we only use your email address for making video collaboration easy and convenient!